@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');


.App {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  padding: 1rem;
}

input[type="number"],
select {
  width: 100%;
  /* max-width: 60%; */
  padding: 12px 20px;
  margin: 0.5rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form {
  /* padding: 1rem; */
  text-align: left;
  margin: auto;
}

button {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0.5rem 0.9rem;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
}

li {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  padding: 1rem;
  background: azure;
  margin: 0.5rem;
}

li:hover {
  box-shadow: 1px 1px 3px #c9c3d4;
}

.mw {
  max-width: 600px;
  margin: auto;
}

.flexy {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 1rem;
}

footer {
  /* position: -webkit-sticky; */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
  margin-bottom: .3rem;
}

footer a {
  color: #1d4ed8;
  text-decoration-color: black;
}

footer a:hover{
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .flexy {
    display: block;
  }

  footer {
    position: relative;
  }
}
